<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加页面</title>
</head>
<body>
<center>
    <h1 style="color:red;">添加图书</h1>
  <table border="1px">
      <form action="/insert" method="post">
          <tr>
              <td>请输入id：</td>
              <td><input type="text" name="id"></td>
          </tr>
          <tr>
              <td>请输入名称：</td>
              <td><input type="text" name="userName"></td>
          </tr>
          <tr>
              <td>请输入密码：</td>
              <td><input type="text" name="password"></td>
          </tr>
          <tr>
              <td colspan="2"><input type="submit"></td>
          </tr>


      </form>
  </table>
</center>


</body>
</html>